<!DOCTYPE html>
<html>
<head>
    <title>Ergo Data</title>
</head>
<body>
    <h1>Ergo Data</h1>
    <h2>Ergo Price: {{ erg_price }}</h2>
    <h2>Total Transactions for the last 720 blocks: {{ total_transactions_combined }}</h2>
    <h2>Average Hashrate for the last 720 blocks: {{ average_hashrate }} Th/s</h2>
    <h1>Latest Block Data</h1>
    <p>Latest Block: {{ latestblockdata.latest_block }}</p>
    <p>Miner Address: {{ latestblockdata.miner_address }}</p>
    <p>Timestamp: {{ latestblockdata.timestamp }}</p>
    <p>Time Difference: {{ latestblockdata.time_difference }}</p>
</body>
</html>